* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    background-color: #131313;
    user-select: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: white 5px solid;
    transition: all 0.5s ease-in-out;
}

h1 {
    font-size: 40px;
    font-weight: lighter;
}

.first {
    font-size: 50px;
    font-weight: 900;
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 800px;
    height: 900px;
    min-height: 900px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: black 5px solid;
    overflow-y: scroll;
}

.margin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 50px 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

#repo {
    color: #99D930;
}

#repo:hover {
    color: #131313;
    text-decoration: none;
}

#margin1 {
    background-color: white;
    color: black;
}

.linker {
    width: 200px;
    height: 50px;
    background-color: #99D930;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.linker:hover {
    background-color: #131313;
    color: white;
    text-decoration: none;
}

/* add a horizontal line before and after h2 */

h2 {
    font-weight: lighter;
    width: 70%;
    position: relative;
    margin: 0;
    padding: 0 0;
    font-size: 30px;
    margin-bottom: 20px;
    border-top: #c4c4c4 1px solid;
    padding: 50px 0;
    border-bottom: #c4c4c4 1px solid;
}

#last:hover,
#last:focus {
    background-color: #fff;
    color: #252525;
}


.last {
    color: #99D930;
    font-weight: bolder;
}