* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    background-color: #131313;
    user-select: none;
    color: white;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: white 5px solid;
}

span {
    display: block;
    font-size: 45px;
}

.container {
    width: 800px;
    height: 900px;
    min-height: 900px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: black 5px solid;
    overflow: hidden;
}

.margin {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    box-sizing: border-box;
}

a {
    color: #99D930;
}

a:hover {
    color: #131313;
    text-decoration: none;
}

.margin1 {
    background-color: white;
    color: black;
}